<!DOCTYPE html>
<html>
    <head>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
    <body>
        <h1 style="text-align: center;">INVOICE (<%= invoice.name %>)</h1>
        <div style="border: 1px solid #000; padding: 8px;">
            <table class="billing-table" style="width: 100%;">
                <tr>
                    <td><b><%= invoice.billing_name %></b><br><%= invoice.addr1 %><br><%= invoice.addr2 %></td>
                    <td style="text-align: right;">Ph:<br>Email:<br>ABN:</td>
                    <td><%= invoice.phone %><br><%= invoice.email %><br><%= invoice.abn %>
                        <% if (!invoice.is_gst_registered) { %>
                        (not GST Registered)
                        <% } %>
                    </td>
                </tr>
            </table>
        </div>
        <div style="border: 1px solid #000; padding: 8px;">
            <h3>Bill to</h3>
            <%= invoice.bill_to %>
        </div>
        <div style="border: 1px solid #000; padding: 8px;">
            <h3>Summary
                <% if (invoice.is_paid) { %>
                <i class="fa fa-check" style="color: green;"></i>
                <% } %>
            </h3>
            <table>
                <tr>
                    <td>Date:</td>
                    <td><%= invoice.issued_str %></td>
                </tr>
                <tr>
                    <td>Amount owing:</td>
                    <td>$<%= invoice.total_amount %></td>
                </tr>
                <tr>
                    <td>Due date:</td>
                    <td><%= invoice.due_str %></td>
                </tr>
                <% if (invoice.is_paid) { %>
                <tr>
                    <td>Paid:</td>
                    <td><%= invoice.paid_str %></td>
                </tr>
                <% } %>
            </table>
        </div>
        <div>
            <table class="mytable">
                <tr>
                    <th>Date</th>
                    <th>Qty</th>
                    <th>Rate</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Remove</th>
                </tr>
                <% invoice_items.forEach(function(invoice_item) { %>
                <form method="post" action="/delete_invoice_item/<%= invoice_item.id %>">
                    <tr>
                        <td><%= invoice_item.date_str %></td>
                        <td><%= invoice_item.qty %></td>
                        <td>$<%= invoice_item.rate %></td>
                        <td><%= invoice_item.description %></td>
                        <td>$<%= invoice_item.amount %></td>
                        <td><button style="border: none; color: #c00;"><i class="fa fa-trash"></i></button>
                    </tr>
                </form>
                <% }); %>
                <tr>
                    <td>Add items <a href="/add_invoice_item/<%= invoice.id %>">
                            <i class="fa fa-add" style="color: green; text-decoration: none;"></i>
                        </a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="opacity: 0; border: 0px;"></td>
                    <td style="opacity: 0; border: 0px;"></td>
                    <td style="opacity: 0; border: 0px;"></td>
                    <td style="border: 0px; text-align: right;"><strong>Total:</strong></td>
                    <td>$<%= invoice.total_amount %></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div style="border: 1px solid #000; padding: 8px;">
            <h3>Payment Options:</h3>
            <h4>Electronic Transfer:</h4>
            <table>
                <tr>
                    <td>BSB:</td>
                    <td><%= invoice.bsb %></td>
                </tr>
                <tr>
                    <td>Account No.:</td>
                    <td><%= invoice.number %></td>
                </tr>
                <tr>
                    <td>Account Name:</td>
                    <td><%= invoice.account_name %></td>
                </tr>
            </table>
        </div>
    </body>
</html>
