<!DOCTYPE html>
<html>
    <head>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2 class="nav"><a href="/">Home</a> > Invoices</h2>
        <table class="mytable">
            <tr>
                <th>Name</th>
                <th>Issued</th>
                <th>Total amount</th>
                <th>Paid</th>
            </tr>
            <% invoices.forEach(function(invoice) { %>
            <tr>
                <td><a href="invoice/<%= invoice.id %>"><%= invoice.name %><a></td>
                <td><%= invoice.issued_str %></td>
                <td>$<%= invoice.total_amount %></td>
                <td><%= invoice.paid_str %></td>
            </tr>
            <% }); %>
        </table>
        <div class="page-action">
            <a href="/invoice/new" class="add-button"><i class="fa fa-circle-plus"></i></a>
        </div>
    </body>
</html>
