<!DOCTYPE html>
<html>
    <head>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="/billing/<%= billing.id %>" method="post">
            <h2 class="nav"><a href="/">Home</a> > <a href="/billings">Billing information</a> > <input id="name" name="name" value="<%= billing.name %>" style="font-size: 16px" onChange="enableSave('save-button')" required></input> <button type="submit" method="post" class="btn-fa" id="save-button" disabled><i class="fa fa-save"></i></button></h2>
            <table class="mytable">
                <tr>
                    <td>Address line 1:</td>
                    <td><input id="addr1" name="addr1" value="<%= billing.addr1 %>" onChange="enableSave('save-button')"></td>
                </tr>
                <tr>
                    <td>Address line 2:</td>
                    <td><input id="addr2" name="addr2" value="<%= billing.addr2 %>" onChange="enableSave('save-button')"></td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td><input id="phone" name="phone" value="<%= billing.phone %>" onChange="enableSave('save-button')"></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input id="email" name="email" value="<%= billing.email %>" onChange="enableSave('save-button')"></td>
                </tr>
                <tr>
                    <td>ABN:</td>
                    <td><input id="abn" name="abn" value="<%= billing.abn %>" onChange="enableSave('save-button')"></td>
                </tr>
                <tr>
                    <td>GST registered?</td>
                    <td><input type="checkbox" id="is_gst_registered" name="is_gst_registered" value="<%= billing.is_gst_registered %>" onChange="enableSave('save-button')"></td>
                </tr>
            </table>
        </form>
        <% if (billing.id != "new") { %>
        <div class="page-action">
            <form action="/billing/delete/<%= billing.id %>" method="post">
                <button class="delete-button"><i class="fa fa-trash"></i></button>
            </form>
        </div>
        <% } %>
    </body>
    <script type="text/javascript" src="/scripts/enable-save.js"></script>
</html>
