<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <%- include('../partials/sidebar'); %>

        <div class="w3-main" style="margin-left:200px">
            <div class="w3-container">
                <h2>
                    <button class="w3-button w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
                    Invoices
                </h2>

                <table class="mytable">
                    <tr>
                        <th>Name</th>
                        <th>Issued</th>
                        <th>Total amount</th>
                        <th>Paid</th>
                        <th>PDF</th>
                    </tr>
                    <% invoices.forEach(function(invoice) { %>
                    <tr>
                        <td><a href="invoice/<%= invoice.id %>"><%= invoice.name %><a></td>
                        <td><%= invoice.issued %></td>
                        <td>$<%= invoice.total_amount %></td>
                        <td><%= invoice.paid %></td>
                        <td>
                            <% if (invoice.pdf) { %>
                            <a href="/invoices/pdf/<%= invoice.pdf %>"><i class="fa fa-file-pdf"></i></a>
                            <% } %>
                        </td>
                    </tr>
                    <% }); %>
                </table>
                <div class="page-action">
                    <a href="/invoice/new" class="add-button">Add<i class="fa fa-circle-plus"></i></a>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="/scripts/myscripts.js"></script>
</html>
